---
import Base from "../layouts/base_layout.astro";
// import Test from "../components/Test";
---

<Base>
  <main class="flex flex-col min-h-screen w-full">
    <header class="absolute top-0 py-12 px-8 w-full flex z-10">
      <div class="w-6 h-6 mx-2">
        <a href="https://twitter.com/_heyglassy">
          <i
            class="fa-brands fa-twitter fa-xl text-white text-center hover:text-blue-400 hover:duration-200"
          ></i>
        </a>
      </div>
      <div class="w-6 h-6 mx-2">
        <a href="https://github.com/heyglassy">
          <i
            class="fa-brands fa-github fa-xl text-white text-center hover:text-slate-600 hover:duration-200"
          ></i>
        </a>
      </div>
      <!-- <Test client:visible>
        <i
          class="fa-solid fa-heart fa-xl text-white mx-2 w-6 h-6 text-center hover:text-pink-600 hover:duration-200 cursor-pointer"
        ></i>
        </Test>
      </Test> -->
    </header>

    <section class="relative flex flex-col justify-center grow items-center">
      <svg viewBox="0 0 500 500" class="w-80 animate-spin-slow">
        <defs>
          <path
            d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
            fill="none"
            id="test"
          >
          </path>
        </defs>

        <text>
          <textPath
            fill="white"
            href="#test"
            textLength="1230"
            class="text-4xl"
          >
            CHRISTIAN GLASSIOGNON • SOFTWARE ENGINEER •
          </textPath>
        </text>
      </svg>
      <div class="absolute w-40">
        <svg
          id="Layer_2"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 520 520"
        >
          <defs>
            <style>
              .cls-1 {
                fill: none;
                stroke: white;
                stroke-miterlimit: 10;
                stroke-width: 14px;
              }
            </style>
          </defs>
          <g id="Layer_1-2">
            <g>
              <path
                class="cls-1"
                d="M510,259.44c-.09-14.65-11.98-26.49-26.64-26.49h-223.77c-14.72,0-26.65,11.93-26.65,26.65v.8c0,14.72,11.93,26.65,26.65,26.65h196.3v128.29c-45.79,57.67-116.52,94.66-195.89,94.66-138.07,0-250-111.93-250-250S121.93,10,260,10s249.7,111.63,250,249.44Z"
              ></path>
              <path
                class="cls-1"
                d="M259.59,287.05h108.57c-12.09,48.47-55.93,84.38-108.16,84.38-61.56,0-111.47-49.89-111.47-111.43s49.91-111.44,111.47-111.44c52.23,0,96.07,35.92,108.16,84.39h-108.57c-14.72,0-26.65,11.93-26.65,26.65v.8c0,14.72,11.93,26.65,26.65,26.65Z"
              ></path>
              <path
                class="cls-1"
                d="M510,260.56v222.71c0,14.71-11.93,26.64-26.64,26.64h-.83c-14.71,0-26.64-11.93-26.64-26.64v-196.22h27.47c14.66,0,26.55-11.84,26.64-26.49Z"
              ></path>
              <path
                class="cls-1"
                d="M510,259.44v1.12c-.09,14.65-11.98,26.49-26.64,26.49h-223.77c-14.72,0-26.65-11.93-26.65-26.65v-.8c0-14.72,11.93-26.65,26.65-26.65h223.77c14.66,0,26.55,11.84,26.64,26.49Z"
              ></path>
            </g>
          </g>
        </svg>
      </div>
    </section>

    <footer class="absolute bottom-0 py-6 w-full opacity-30">
      <h1 class="text-white text-center">
        San Jose, California, United States of America
      </h1>
      <h1 class="text-white"></h1>
    </footer>
  </main>
</Base>
