---
import '../../public/styles/base.css'
---

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Christian Glassiognon</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=padauk:wght@100;200;300;400;500;600;700;800;900&family=Quando:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="/styles/base.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <script src="https://kit.fontawesome.com/db429f0371.js" crossorigin="anonymous"></script>
</head>

<body>
    <slot />
</body>

</html>